In [2]:
import numpy as np
import pandas as pd
import pandas_profiling as pdp
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score
import json
sns.set_style('darkgrid')
%matplotlib inline
from tqdm import tqdm

In [3]:
train = pd.read_csv('train.csv', index_col='row_id')
# train.drop_duplicates(keep='first', inplace=True)
train.reset_index(drop=True, inplace=True)
test = pd.read_csv('test.csv', index_col='row_id')
# data = pd.concat([train, test], sort=False)
# train = data[:len(train)]
# test = data[len(train):]

In [7]:
data = pd.concat([train, test])
train_duplicated = train[data.duplicated(subset=test.columns)[:len(train)]]
test_duplicated = test[data.duplicated(subset=test.columns)[len(train):]]

In [29]:
train_duplicated

,A0T0G0C10,A0T0G1C9,A0T0G2C8,A0T0G3C7,A0T0G4C6,A0T0G5C5,A0T0G6C4,A0T0G7C3,A0T0G8C2,A0T0G9C1,...,A8T0G1C1,A8T0G2C0,A8T1G0C1,A8T1G1C0,A8T2G0C0,A9T0G0C1,A9T0G1C0,A9T1G0C0,A10T0G0C0,target
440,-9.536743e-07,-0.000010,-0.000043,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-9.536743e-06,...,-0.000086,-0.000043,0.001914,-0.000086,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,Enterococcus_hirae
484,-9.536743e-07,-0.000010,-0.000043,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-9.536743e-06,...,0.000914,-0.000043,0.000914,0.000914,0.001957,-0.000010,-0.000010,-0.000010,-9.536743e-07,Staphylococcus_aureus
508,-9.536743e-07,-0.000010,-0.000043,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-9.536743e-06,...,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,Escherichia_coli
511,-9.536743e-07,-0.000010,-0.000043,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-9.536743e-06,...,-0.000086,-0.000043,0.000914,-0.000086,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,Streptococcus_pneumoniae
556,-9.536743e-07,-0.000010,-0.000043,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-9.536743e-06,...,-0.000086,-0.000043,0.009914,-0.000086,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,Streptococcus_pyogenes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199993,-9.536743e-07,-0.000010,-0.000043,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-9.536743e-06,...,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,Escherichia_coli
199994,-9.536743e-07,-0.000010,-0.000043,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-9.536743e-06,...,-0.000086,-0.000043,0.000914,-0.000086,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,Staphylococcus_aureus
199996,-9.536743e-07,-0.000010,-0.000043,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-9.536743e-06,...,-0.000086,-0.000043,0.000914,0.000914,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,Streptococcus_pyogenes
199998,-9.536743e-07,-0.000010,-0.000043,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-9.536743e-06,...,-0.000086,-0.000043,0.001914,-0.000086,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,Staphylococcus_aureus
199999,1.046326e-06,-0.000002,0.000069,0.000539,0.001329,0.001657,0.001328,0.000520,0.000063,-5.367432e-07,...,0.000065,0.000053,0.000082,0.000102,0.000078,0.000014,0.000013,0.000033,-9.536743e-07,Klebsiella_pneumoniae

In [36]:
test_duplicated

,A0T0G0C10,A0T0G1C9,A0T0G2C8,A0T0G3C7,A0T0G4C6,A0T0G5C5,A0T0G6C4,A0T0G7C3,A0T0G8C2,A0T0G9C1,...,A8T0G0C2,A8T0G1C1,A8T0G2C0,A8T1G0C1,A8T1G1C0,A8T2G0C0,A9T0G0C1,A9T0G1C0,A9T1G0C0,A10T0G0C0
row_id,,,,,,,,,,,,,,,,,,,,,
200092,-9.536743e-07,-0.00001,-0.000043,-0.000114,-0.0002,-0.00024,-0.0002,-0.000114,-0.000043,-0.00001,...,-0.000043,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.00001,-0.00001,-0.00001,-9.536743e-07
200226,-9.536743e-07,-0.00001,-0.000043,-0.000114,-0.0002,-0.00024,-0.0002,-0.000114,-0.000043,-0.00001,...,-0.000043,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.00001,-0.00001,-0.00001,-9.536743e-07
200288,-9.536743e-07,-0.00001,-0.000043,-0.000114,-0.0002,-0.00024,-0.0002,-0.000114,-0.000043,-0.00001,...,-0.000043,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.00001,-0.00001,-0.00001,-9.536743e-07
200706,-9.536743e-07,-0.00001,-0.000043,-0.000114,-0.0002,-0.00024,-0.0002,0.009886,-0.000043,-0.00001,...,-0.000043,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.00001,-0.00001,-0.00001,-9.536743e-07
200738,-9.536743e-07,-0.00001,-0.000043,-0.000114,-0.0002,-0.00024,-0.0002,-0.000114,-0.000043,-0.00001,...,-0.000043,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.00001,-0.00001,-0.00001,-9.536743e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299992,-9.536743e-07,-0.00001,-0.000043,-0.000114,-0.0002,-0.00024,-0.0002,-0.000114,-0.000043,-0.00001,...,-0.000043,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.00001,-0.00001,-0.00001,-9.536743e-07
299993,-9.536743e-07,-0.00001,-0.000043,-0.000114,-0.0002,0.00976,-0.0002,-0.000114,-0.000043,-0.00001,...,-0.000043,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.00001,-0.00001,-0.00001,-9.536743e-07
299996,-9.536743e-07,-0.00001,-0.000043,-0.000114,-0.0002,-0.00024,-0.0002,-0.000114,-0.000043,-0.00001,...,-0.000043,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.00001,-0.00001,-0.00001,-9.536743e-07
299997,-9.536743e-07,-0.00001,-0.000043,-0.000114,-0.0002,-0.00024,-0.0002,-0.000114,-0.000043,-0.00001,...,-0.000043,-0.000086,-0.000043,0.000914,-0.000086,-0.000043,-0.00001,-0.00001,-0.00001,-9.536743e-07
299998,-9.536743e-07,-0.00001,-0.000043,-0.000114,-0.0002,-0.00024,-0.0002,-0.000114,-0.000043,-0.00001,...,-0.000043,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.00001,-0.00001,-0.00001,-9.536743e-07

In [26]:
df = pd.DataFrame()
df['index'] = test_duplicated.index
df['index'] = df['index'].astype('int')
df['target'] = np.nan
df

        index  target
0      200092     NaN
1      200226     NaN
2      200288     NaN
3      200706     NaN
4      200738     NaN
...       ...     ...
27040  299992     NaN
27041  299993     NaN
27042  299996     NaN
27043  299997     NaN
27044  299998     NaN

[27045 rows x 2 columns]

In [45]:
with tqdm(range(len(df))) as pbar:
    for i, row in df.iterrows():
        statement = "".join([" {}=={} & ".format(c, test.loc[int(row['index']), c]) for c in test.columns])
        statement += "1==1"
        q = train_duplicated.query(statement)
        if not q.empty:
            df.iloc[i, 1] = q['target'].iloc[-1]
        pbar.update(1)

100%|██████████| 27045/27045 [4:57:01<00:00,  1.52it/s]

In [46]:
df

        index                    target
0      200092  Streptococcus_pneumoniae
1      200226    Streptococcus_pyogenes
2      200288                       NaN
3      200706                       NaN
4      200738                       NaN
...       ...                       ...
27040  299992                       NaN
27041  299993                       NaN
27042  299996                       NaN
27043  299997                       NaN
27044  299998                       NaN

[27045 rows x 2 columns]

In [48]:
df_no_na=df.dropna()

In [49]:
len(df_no_na)/len(test)

0.00405

In [50]:
df_no_na.to_csv('test_duplicates.csv',index=False)